<!DOCTYPE html>
<html lang="ru"> 
  <head>  
    <!-- Подключены иконки, стили и заполенены мета теги -->
    <title>Профайл пользователя {{author.get_full_name}} <!--Лев Толстой--></title>
  </head>
  <body>       
    <header>
      <nav class="navbar navbar-light" style="background-color: lightskyblue">
        <div class="container">
          <a class="navbar-brand" href="/">
            <img src="/static/img/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
            <span style="color:red">Ya</span>tube
          </a>
        </div>
      </nav>      
    </header>
    <main>
      <div class="container py-5">        
        <h1>Все посты пользователя {{author.get_full_name}} </h1>
        <h3>Всего постов: {{ page_obj.paginator.count }} </h3>
        {% for post in page_obj %}
        <article>
          <ul>
            <li>
              Автор: {{ post.author.get_full_name }}
              <a href="{% url 'posts:profile' author.username %}">все посты пользователя</a>
            </li>
            <li>
              Дата публикации: {{ post.pub_date| date:" d E Y" }} 
            </li>
          </ul>
          <p>{{post.text|linebreaksbr}}
          </p>
          {% if default_link %}
          <a href="{% url 'posts:post_detail' post.post_id %}">подробная информация </a>
          {% endif %}
            </article> 
          {% if post.group and show_link %}    
        <a href="{% url 'posts:group_list'  post.group.slug%}">все записи группы</a>        
        {% endif %}
        <hr>
        <!-- Остальные посты. после последнего нет черты -->
        {% include 'includes/paginator.html'%}
      </div>
    </main>
    <footer class="border-top text-center py-3">
      {% include 'includes/footer.html'%}
      {% endfor %}
    </footer>
  </body>
</html>